* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.img, .layover {
  border-radius: 10px;
}

.layover {
  /*background-color: grey;
  opacity: 0.3; così anche la textarea prenderebbe l'opacità*/
  background-color: rgba(104, 104, 104, 0.3);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

/************* HEADER ***************/

.logo {
  width: 160px;
  height: 70px;
  background-image: url("../img/logo.png");
  /*background-position: left; se lascio, img lascia bordo sopra*/
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

.vertical-line {
  height: 70px;
  margin-left: 10px;
  border-left: 1px solid lightgrey;
  display: inline-block;
  vertical-align: middle;
}

.top, .jumbotron {
  margin-bottom: 40px;
}

/*nav menu*/

nav {
 padding-top: 40px; 
}

nav li {
  list-style-type: none;
  text-transform: uppercase;
  float: left;
  margin-right: 15px;
}

nav li a, nav li a:visited {
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
}

nav li a:hover, nav li a:active {
  color: #C9646C;
}

/*jumbotron*/

.img.yoga {
  min-height: 500px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron .layover{
  min-height: 500px;
}

.textarea {
  width: 60%;
  min-height: 100px;
  padding-left: 50px;
  padding-top: 25%;
}

.textarea h3, .textarea p{
  color: white;
  opacity: 1;
}

.textarea h3 {
  font-size: 28px;
  font-weight: 400;
}

.textarea p {
  font-size: 18px;
  font-weight: 200;
}

/************* MAIN ***************/

/*main title*/

main .title {
  height: 80px;
  margin: 30px 0;
}

.title h1 {
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.title p {
  font-weight: 200;
  color: grey;
}

/*main content clearfix*/

.content.clearfix {
  padding-bottom: 30px;
}

.left-col, .middle-col, .right-col {
  float: left;
}

.left-col, .right-col {
  width: 20%;
}

.middle-col {
  width: 56%;
  margin-left: 2%;
  margin-right: 2%;
}

/*img top column*/

.content .top-col {
  height: 200px;
  margin-bottom: 25px
  
}

.content .layover {
  height: 200px;
}

.top-col .img.growth {
  background-image: url("../img/img-1.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-col .img.freelancer {
  background-image: url("../img/banner-2.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-col .img.team {
  background-image: url("../img/img-3.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*bottom column*/

.bottom-col h3 {
  font-weight: 400;
  color: #6C6C6C;
  margin-bottom: 10px;
}

.bottom-col p {
  color: grey;
  font-weight: 200;
}

/************* FOOTER ***************/

.footer-content {
  margin: 30px 0;
}

.footer-content h3 {
  font-weight: 400;
  text-align: center;
  color: #6C6C6C;
}

#heart {
  color: red;
}